.container {
	width: 100%;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding-inline: 20px;
}

.logo-link {
	padding: 8px 12px;
	background: #c41320;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	width: max-content;
	color: white;
	font-family: $heading-font;
}

img {
	height: 100%;
	object-fit: cover;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

input {
	outline: none;
	border: none;
}

svg {
	cursor: pointer;
}
